.dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.dialog {
  max-width: 800px;
  min-width: 600px;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--size-8);
    line-height: var(--size-8);
    margin-bottom: var(--v-spacing);

    .close {
      line-height: var(--size-3);
      vertical-align: middle;
      height: var(--size-5);
      width: var(--size-5);
      padding: 0;
    }
  }
}