.mask {
  --rows: 12;
  --cols: 12;
  --size: 32px;
  --grid-color: #d3d3d3;
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--size)); /* Adjust the number and size of rows as needed */
  grid-template-columns: repeat(var(--cols), var(--size)); /* Adjust the number and size of columns as needed */
  gap: var(--half-size);
  background-color: var(--grid-color);
  width: fit-content;
  height: fit-content;
  border: var(--half-size) solid var(--grid-color);

  .cell {
    --empty-color: #ffffff;
    --filled-color: #DB3069;
    --border-color: #3C3C3B;
    --strip-size: calc(var(--size) / 4);

    height: var(--size);
    width: var(--size);

    &.cell-0 { background-color: var(--empty-color); }
    &.cell-1 { background-color: var(--border-color); }
    &.cell-2 { background-color: var(--filled-color); }
    &.cell-3 { 
      background: repeating-linear-gradient(
        45deg,
        var(--border-color),
        var(--border-color) var(--strip-size),
        var(--filled-color) var(--strip-size),
        var(--filled-color) calc(2 * var(--strip-size))
      );
    }
    &.cell-4 { 
      background: repeating-linear-gradient(
        45deg,
        var(--empty-color),
        var(--empty-color) var(--strip-size),
        var(--filled-color) var(--strip-size),
        var(--filled-color) calc(2 * var(--strip-size))
      ); 
    }
  }
}