form {
  height: 100%;

  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: min-content 1fr min-content; 
  gap: 0px 0px;
  grid-template-areas: 
    "title"
    "fields"
    "submit";

  header { grid-area: title; }
  
  section { 
    grid-area: fields;

    .nes-field {
      padding: var(--v-spacing) 0;
    }

    #color {
      width: calc(100% - 8px);
    }

    .nes-radio {
      margin: 0;
    }

    i.brush-preview {
      width: var(--text-size);
      height: var(--text-size);
      display: inline-block;
      border: 2px solid #d3d3d3;

      &.border { background: var(--border-bg); }
      &.empty { background: var(--empty-bg); }
      &.filled { background: var(--filled-bg); }
      &.filled-border { background: var(--border-filled-bg); }
      &.filled-empty { background: var(--empty-filled-bg); }
    }
  }

  footer { 
    grid-area: submit;
    padding: var(--v-spacing);
    text-align: center;

    .nes-btn {
      padding: var(--v-spacing) var(-h-spacing);
    }
  }
}