dialog#dialog-info {
  section {

    h2 {
      padding-bottom: var(--size-2);
    }

    h4 {
      padding-bottom: var(--size-1);
    }

    li {
      padding-bottom: 8px;
      padding-left: 8px;
    }

    .nes-list.is-disc li::before {
      top: var(--half-size);
    }

    .tool-badge {
      --item-size: var(--size-3);

      width: var(--item-size);
      height: var(--item-size);
      display: inline-block;
      border: var(--half-size) solid var(--color-black);
      margin-right: 8px;
      vertical-align: bottom;

      &.border {
        background: var(--border-bg);
      }

      &.empty {
        background: var(--empty-bg);
      }

      &.filled {
        background: var(--filled-bg);
      }

      &.filled-border {
        background: var(--border-filled-bg);
      }

      &.filled-empty {
        background: var(--empty-filled-bg);
      }
    }
  }

  menu {
    text-align: right;
    padding-top: 16px;
    padding-right: 16px;
  }
}